<div class="menu_tasks">
  <%= link_to "View all tasks", view_all_tasks_path %>
  <%= link_to "New", task_new_path %>
</div>
</div>
<h1>All tasks</h1>
<div id="view_content_all_tasks">
  <%= render 'view_all_tasks' %>
</div>